{% extends "management/base.html" %}
{% block title %}查看员工情况{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="{% url 'book_list' 'all' %}" class="list-group-item" id="id_category_all">
                            全部员工
                        </a>
                        </a>
                        {% for category in category_list %}
                            <a href="{% url 'book_list' category %}" class="list-group-item"
                               id="id_category_{{ category }}">
                                {{ category }}
                            </a>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $('#id_category_{{ query_category }}').addClass("active");
                    </script>
                </div>
                <div class="col-md-9 col-md-offset-1">
                    <form method="get" action="/search/">
                      {% csrf_token %}
                      <input type="search" name="q" placeholder="搜索" required>
                      <button type="submit">搜索</button>
                    </form>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>员工名字</th>
                            <th>职位</th>
                            <th>入职时间</th>
                            {% if user.username == 'admin'%}
                            <th>操作</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in book_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'book_detail' book.id %}">{{ book.name }}</a></td>
                                <td>{{ book.author.title }}</td>
                                <td>{{ book.publish_date|date:"Y-m-d" }}</td>
                                <td>{{ book.price|floatformat:2 }}</td>
                                {% if user.username == 'admin'%}
                                <td><a href="{% url 'delete' book.id %}">删除</a></td>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无员工</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">
                            {% if book_list.has_previous %}
                                <li class="previous"><a
                                        href="{% url 'book_list' query_category %}&page={{ book_list.previous_page_number }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                            第 {{ book_list.number }} / {{ book_list.paginator.num_pages }}页
                            {% if book_list.has_next %}
                                <li class="next"><a
                                        href="{% url 'book_list' query_category %}&page={{ book_list.next_page_number }}">下一页</a>
                                </li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}